@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tamanho fixo para o espaço do loader e do limite */
#limitCounter .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px; /* Ajuste conforme necessário */
    height: 24px; /* Ajuste conforme necessário */
}
